.mention {
  cursor: pointer;
  color: var(--mybricks-color-primary);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 10px;
  max-width: 88px;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 20px;
}
