.trigger {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 0px 10px;
  border-radius: 999px;
  border: none;
  background: rgba(255, 255, 255, 0.08);
  background: var(--mybricks-color-primary);
  color: rgba(255, 255, 255, 0.85) !important;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  // transition: background 0.15s;
  font-size: 12px !important;
  line-height: 25px !important;
  // color: rgba(0, 0, 0, 0.6) !important;

  &:hover {
    color: rgba(255, 255, 255, 1) !important;
    // background: rgba(255, 255, 255, 0.12);
  }

  &[disabled],
  &:disabled {
    color: rgba(255, 255, 255, 0.85) !important;
    cursor: default;
  }
}

.triggerIcon,
.itemIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;

  svg {
    width: 14px;
    height: 14px;
  }
}

.triggerTitle {
  font-weight: 500;
}

.dropdown {
  min-width: 180px;
  // padding: 4px 0;
  background: #2d2d2d;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: #fff;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  cursor: pointer;
  // color: rgba(255, 255, 255, 0.9);
  font-size: 13px;
  transition: background 0.1s;
  border-radius: 8px;

  &:hover {
    // background: rgba(255, 255, 255, 0.08);
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.itemIcon {
  flex-shrink: 0;
}

.itemTitle {
  flex: 1;
  font-weight: 500;
}

.itemShortcut {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.45);
  margin-right: 8px;
}

.itemCheck {
  display: inline-flex;
  // color: #fff;

  svg {
    width: 16px;
    height: 16px;
  }
}
