.messages {
  width: 100%;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-anchor: auto;   /* 允许锚点定位，浏览器默认行为 */
  scroll-snap-type: y proximity;

  .message {
    width: 100%;

    .bubble {
      max-width: calc(100% - 50px);
      background-color: rgba(0, 0, 0, 0.06);
      padding: 6px;
      border-radius: 8px;
      word-break: break-all;
    }
  }

  .messgaeEnd {
    display: flex;
    justify-content: flex-end;
  }

  .anchor {                  /* 放在列表最后的空节点 */
    height: 1px;             /* 越小越好，仅作锚点 */
    scroll-snap-align: end;  /* 关键：永远吸底 */
  }
}
