.messages {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-anchor: auto;
  /* 允许锚点定位，浏览器默认行为 */
  scroll-snap-type: y proximity;
  gap: 16px;
  padding-bottom: 30px;

  .message {
    width: 100%;

    .bubble {
      max-width: calc(100% - 30px);
      width: fit-content;
      background-color: rgba(0, 0, 0, 0.06);
      padding: 6px;
      border-radius: 8px;
      word-break: break-all;

      p:last-child {
        margin-bottom: 0;
      }

      code {
        text-wrap: auto;
      }

      .spinIcon {
        vertical-align: -0.5px;
        margin-left: 3px;
        font-size: 10px;
        animation: spin 1.2s linear infinite;
      }

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }
    }

    .plan {
      width: 100%;

      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .messgaeEnd {
    display: flex;
    justify-content: flex-end;
  }

  .anchor {
    /* 放在列表最后的空节点 */
    height: 1px;
    /* 越小越好，仅作锚点 */
    scroll-snap-align: end;
    /* 关键：永远吸底 */
  }
}

.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  border-radius: 4px;
}

.bubbleContainer {
  display: flex;
  flex-direction: column;
  color: #333;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 16px 16px 0;

  .bubbleHeader {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding-bottom: 8px;

    &:has(.userAvatar) {
      justify-content: end;
      flex-direction: row-reverse;
    }

    .bubbleHeaderAvatar {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      box-sizing: content-box;
      border: 2px solid #ffffff;

      .userAvatar {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }

      .aiAvatar {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }

    .bubbleHeaderName {
      font-size: 12px;
      color: #999;
    }
  }
}

.messageContainer {
  user-select: text;
  width: 100%;
  // font-size: 14px;
  font-size: 12px;
  border-radius: 12px;
  padding: 0;

  p:last-child {
    margin-bottom: 0;
  }
}

.userMessage {
  width: fit-content;
  max-width: calc(100% - 16px);
  align-self: flex-end;
  align-items: end;
  background: #ecf4ff;
  border-radius: 4px;
  padding: 8px;
  border-color: transparent;
}

.markDown {
  color: #333;
  line-height: calc(1em + 8px);
  word-break: break-word;

  code {
    text-wrap: auto;
  }

  .spinIcon {
    vertical-align: -0.5px;
    margin-left: 3px;
    font-size: 10px;
    animation: spin 1.2s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.collapsibleCodeBlock {
  background-color: #f3f3f3;
  border-radius: 4px;
  margin: 10px 0;
  margin-top: 2px;
  padding: 6px;
  transition: all .4s cubic-bezier(.25, .8, .25, 1);
  will-change: padding, height, transform;
  transform-origin: top;
  padding: 4px 8px;
  transform: translateY(-1px);

  .codeHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    border-radius: 4px;
    min-height: 22px;
    padding-bottom: 8px;
    box-sizing: content-box;
    transition: padding .4s cubic-bezier(.25, .8, .25, 1);
    padding-bottom: 0;

    .codeTitle {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 8px;
      color: currentColor;
      font-weight: 400;
    }

    .codeTitleStatus {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
  }
}